@model string


<div style="position:fixed;bottom:25px; right:25px;" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
        <i class="bi i-plus-circle"></i>  Add new
    </a>

</div>